html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}

.table-wrapper {
	background-color: aliceblue;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ------------ Table ------------ */

table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid black;
	padding: 1rem;
}

td:nth-child(odd),
th:nth-child(odd) {
	background-color: #eee;
}

.subtitle {
	text-align: left;
	font-size: 24px;
	background-color: #343434 !important;
	color: white;
}

.full-feature-title {
	font-size: 36px;
}

/* ------------ Accordion ------------ */

.accordion {
	/* background-color: #eee; */
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 200px;
}

.accordion::after {
	content: '\02795';
	font-size: 13px;
	float: right;
}

.panel {
	padding: 0 18px;
	/* overflow: hidden; */
	width: 200px;
}

.hidden {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
